<!DOCTYPE html>
<html lang="en">
    {% block head %}
        <title>Account details template</title>
    {% endblock %}
    {% block body %}
        <section id="personal_data">
            <label>User name:</label><br>
            <input type="text" id="user_name" name="user_name"><br>
            <label>First name:</label><br>
            <input type="text" id="first_name" name="first_name"><br>
            <label>Last name:</label><br>
            <input type="text" id="last_name" name="last_name"><br>
        </section>
        <section id="university_data">
            <label>University name:</label><br>
            <input type="text" id="university_name" name="university_name"><br>
            <label>University specialization:</label><br>
            <input type="text" id="university_specialization" name="university_specialization"><br>
            <label>User role:</label>:</label><br>
            <input type="text" id="user_role" name="user_role"><br>
        </section>
    {% endblock %}
</html>
user_id, first_name, last_name, user_name, user_interests_overview,
							  user_password, user_role